/*all*/

*{
margin:0px;
padding:0px;
}

body {
background-color: blue;
padding: 20px;
}

#wrapper{
width:900px;
background-color:yellow;
margin:30px auto;
overflow:hidden;
padding:20px;
}

header{
background-color:rgb(52, 186, 213);
width:100%;
margin:20px auto;
}

header img{
display:block;
margin:0px auto;
}

header h1{
text-align:center;
font-size:3em;
padding-bottom:20px;
}

header h2{
display:block;
text-align:center;
font-size:1.5em;
padding-bottom:20px;
}

p.return-top{
text-align:center;
}

main h2{
padding-top:30px;
font-size:2em;
padding-bottom:20px;
line-height:1.5em;
}

main p{
font-size:1em;
padding-bottom:20px;
padding-left:10px;
padding-right:10px;
line-height:1.5em;
}

footer{
height:75px;
background-color:rgb(52, 186, 213);;
border-top:1px solid black;
clear:both;
margin-top:20px;
}


footer li{
float:right;
text-align:center;
line-height:75px;
width:20%;
list-style-type:none;
color:white;
margin-bottom:15px;
}

footer a{
color:white;
}

/*homepage*/

#homepage nav{
display:block;
margin-top:15px;
padding-bottom:15px;
overflow:hidden;
}

#homepage nav ul{
list-style-type:none;
}

#homepage nav li.image-block{
background-color:transparent;
float:left;
width:48.75%;
height:400px;
line-height:200px;
margin:5px;
}

#homepage nav a{
color:transparent;
text-decoration:none;
color:white;
display:block;
height:400px;
}

#homepage nav a h1{
font-weight:bold;
text-align:center;
font-size:2em;
}

#homepage nav a p{
font-size:1em;
font-weight:normal;
width:100%;
color:transparent;
line-height:1.25em;
text-align:center;

}

#homepage nav a:hover p{
color:white;
}

#homepage li#about-trumpet-image{
background:url('https://dl.dropboxusercontent.com/s/ndq0w8j2fje1ecs/trumpet4_x400.jpg?dl=0');
}
#homepage li#itfarts-image{
background:url('https://dl.dropboxusercontent.com/s/a8djr31b7gozqfi/diver.jpg?dl=0');
}
#homepage li#woo-image{
background:url('https://dl.dropboxusercontent.com/s/plhqiqsqj9uv90a/ocean_x400.jpg?dl=0');
}
#homepage li#sightings-image{
background:url('https://dl.dropboxusercontent.com/s/9rvionj7ru4u2xi/research-boats.jpg?dl=0');
}


#homepage nav a:hover{
background-color: black;
color:white;
}

#homepage hr{
border: 2.5px solid black;
}

#trumpet-page nav, #itfarts-page nav, #woo-page nav, #sightings-page nav, #disclosures-page nav{
margin-bottom:20px;
overflow:hidden;
}


#trumpet-page nav ul, #itfarts-page nav ul, #woo-page nav ul, #sightings-page nav ul, #disclosures-page nav ul{
display:block;
list-style-type:none;
text-align:center;
line-height:50px;
}

#trumpet-page nav li, #itfarts-page nav li, #woo-page nav li, #sightings-page nav li,#disclosures-page nav li{
float:left;
width:20%;
background-color:rgb(223,145,70);
font-weight:regular;
}

#trumpet-page nav a, #itfarts-page nav a, #woo-page nav a, #sightings-page nav a, #disclosures-page nav a{
display:block;
color:black;
text-decoration:none;
}

#trumpet-page nav a:hover, #itfarts-page nav a:hover, #woo-page nav a:hover, #sightings-page nav a:hover #disclosures-page nav a:hover{
background-color:rgb(177,191,81);
font-weight:bold;
}


/*about trumpet fish*/

#trumpet-page .photo-bar, #woo-page .photo-bar{
overflow:hidden;
margin-bottom:30px;
}

#trumpet-page .photo-bar ul, #woo-page .photo-bar ul{
list-style-type:none;
clear:both;
padding-top:30px;
}

#trumpet-page .photo-bar li, #woo-page .photo-bar li{
display:inline;
float:left;
width:32.7%;
border:2px solid white;
}

#bar1 li{
height:210px;
}

#bar2 li{
height:300px;
}

#bar3 li{
height:200px;
}

.left{
float:left;
margin-right:10px;
}

.right{
float:right;
margin-left:10px;
}

.text-clear{
clear:both;
padding-top:20px;
}

#diving-bell{
height:250px;
}

/*ITFARTS*/


/*Sightings*/

#sightings-page form{
width:100%;
}

#sightings-page h1{
padding-bottom:20px;
}

#sightings-page label{
display:inline;
float:left;
clear:both;
width:35%;
line-height:2em;
margin-bottom:10px;
}

#sightings-page input[type="text"],#sightings-page input[type="email"],#sightings-page input[type="number"],#sightings-page input[type="time"],#sightings-page input[type="date"]{
display:inline;
float:left;
width:30%;
margin-bottom:10px;
height:2em;
}

#sightings-page #infolabel{
padding-top:10px;
width:50%;
clear:both;
}

#sightings-page textarea{
display:block;
width:95%;
margin:10px auto;
}

#submit-button{
width:150px;
height:25px;
float:right;
margin-right:40px;
background-color:rgb(255, 71, 63);
font-weight:bold;
margin-bottom:20px;
margin-top:20px;
}